{% load static %}
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/note.css' %}">
</head>


<body>
    {% for note in notes %}
        <div>
            <h1><a href="">{{ note.title }}</a></h1>
            <p style="color:#ddd">{{ note.phone }}</p>
            <p>{{ note.published_date }}</p>
        </div>
    {% endfor %}
</body>
